/* Palette https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
#section-one{
  background-color: #adb5bd;
}
#section-two{
  background-color: #dee2e6;
}
#section-three{
  background-color: #495057;
  color: white;
}
#section-four{
  background-color: #dee2e6;
}
#section-five{
  background-color: #adb5bd;
}