/* 
 * Author: Ernie Phillips 
 * Date: 01/11/2021
 * Bellevue University
 * CIS 515: IT Infrastructure
 * Professor Krohn
 */


/* Palette Scheme: https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */
/* Free Images: https://www.format.com/magazine/resources/design/32-great-free-vector-art-websites */

#header {
  /* image credit: https://unsplash.com/s/photos/business */
  background: url("../images/darkened-En_Photoaday_CSD-free-image.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  color:white;
}

#header-text{
  font-weight: 700;
}

#subheader-text{
  font-weight: 900;
}

#section-one {
  background-color: #adb5bd;
}
#section-two {
  background-color: #dee2e6;
}
#section-three {
  background-color: #495057;
  color: white;
}
#section-four {
  background-color: #dee2e6;
}
#section-five {
  background-color: #adb5bd;
}

#bellevue-link {
  color: #495057;
}
